*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 100%;
}
.navbar{
	width: 90%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
}
.nav-left ul li {
	display: inline;
	padding: 30px;
}
.nav-left button{
	margin-left: 20px;
}
.nav-right img{
	width:400px ;
	height: 50px;
}
.nav-left select{
	border: none;
	outline: none;
}
.nav-left i{
	display: none;
}
.btn1{
	padding: 10px 17px;
	border-radius: 50px;
	border-color: #D4D2E3;
	background-color: lightgrey;
	outline: none;
	border: none;
}
.btn2{
	padding: 15px 18px;
	border-radius: 50px;
	outline: none;
	border: none;
	background-color: #A9BE66;
	color: white;
}

.para h1{
	width: 100%;
	height: 250px;
	font-size: 56px;
	padding: 100px;
	text-align: center;
	font-family: DM Sans;
}
.para p{
	width: 100%;
	font-size: 16px;
	text-align: center;
	font-family: DM Sans;
	color: #4B496A;
	
}
.para button{
	padding: 15px 18px;
	border-radius: 50px;
	outline: none;
	border: none;
	background-color: #A9BE66;
	color: white;
	margin-left: 700px;
}
.images{
	padding: 100px;
	margin-top: 100px;
	justify-content: center;
	
}
.img1{
	width: 720px;
	height: 550px;
	position: relative;
}
.img2{
	width: 720px;
	height: 550px;
	position: absolute;
	top: 77%;
	left: 39.5%;
}
.container2{
	width: 100%;
}
.para1 h1{
	width: 100%;
	height: 90px;
	font-size: 56px;
	padding: 100px;
	text-align: center;
	font-family: DM Sans;
}
.para1 p{
	width: 100%;
	font-size: 16px;
	text-align: center;
	font-family: DM Sans;
	color: #4B496A;
	
}

.features-cards {
    display: flex;
  column-gap: 100px;
  justify-content: center;
    margin-top: 50px;
}

.card {
    width: 300px;
    padding: 25px;
    border-radius: 18px;
    background: #ffffff;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
   font-family: DM Sans;
}
.card img{
	align-items: center;
}

.card h3 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.card p {
    margin-top: 10px;
    color: #7a7a7a;
    line-height: 22px;
}
.icon  {
	display: inline;


	
}
.icon i{
	width:40px ;
	height: 30px;
	background-color:#ffffff;
	border-radius: 5px;
	align-content: center;
	color: black;
}

.icon p1 i{
	color:  #3022C8;
}


@media(max-width: 996px){

	.navbar{
		width: 100%;
		padding: 10px 20px;
	}

	.nav-left ul li,
	.nav-left select,
	.nav-left button{
		display: none;
	}

	.nav-left i{
		display: block;
	}

	.nav-right img{
		width: 150px;
	}


	.para h1{
		font-size: 35px;
		padding: 40px 20px 10px 20px;
		height: auto;
	}

	.para p{
		font-size: 14px;
		padding: 0 20px;
	}


	.para button{
		margin: 20px 130px;
	}

	.images{
		padding: 20px;
		margin-top: 50px;
	
	.img1{
		width: 400px;
	}
	.img2{
		display: none;
	}
	.para1 h1{
		font-size: 35px;
		padding: 40px 20px 10px 20px;
		height: auto;
	}

	.para1 p{
		font-size: 14px;
		padding: 0 20px;
	}


	.features-cards{
		flex-direction: column;
		gap: 20px;
		display: block;
		align-items: center;
		margin: 100px auto;
	}
}